<h1>Editing Member Organization</h1>

<% form_for(@member_org) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'form' %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'View Members', @member_org %> |
<%= link_to 'List Member Orgs', member_orgs_path %>
