<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show Entry & Manage Associations', @person %> |
<%= link_to 'Back to Directory of People', people_path %>
