<% hide_examples = false if hide_examples.nil? %>
<div id="basic_search" style="<%= params[:advanced] ? 'display:none' : ''%>">
	<% form_tag( {:action => 'search'}, :id => 'search_form', :name => 'search_form', :method => 'get' ) do %>
		<div><label for="q">Search the directory:</label>
		<%= text_field_tag 'q', @query, :size => 30 %>
		<%= submit_tag 'See List' %>
		<%= submit_tag 'See Map', :name => 'Map' %>
		<%= link_to_function('Options...', "Element.show('advanced_search'); Element.hide('basic_search')") %>
		 <%= link_to 'Add...', :controller => 'organizations', :action => 'new' %>
		</div>
	<% end %>

	<% unless hide_examples %>
	      <div class='example_wrapper'>
		<div class='example_preamble'>Search<br />examples:</div>
		<% for example in @site.site_searches %>
		<div class='example_bubble'><%= link_to example, :action => 'search', :q => example %></div>
		<% end %>
              </div>
	<% end %>
</div>
<div id="advanced_search" style="<%= params[:advanced] ? '' : 'display:none'%>">
	<%= link_to_function('Switch to Basic Search', "Element.hide('advanced_search'); Element.show('basic_search')") %>
	<br/>
	<% form_tag( {:action => 'search'}, :method => 'get' ) do %>
		<%= hidden_field_tag 'advanced', 1 %>
		<table id="advsearch">
			<tr><th>Geographically</th>
				<td>
					<table cellspacing="0" cellpadding="0" class="inner">
					<%- if !session[:state_filter].nil? and session[:state_filter].include?('CA') -%>
						<tr><td>Within the county:</td><td><%= select_tag "county", options_for_select([''] + Location.unique_counties('CA')) %></td></tr>
					<%- end -%>
					<%- if session[:state_filter].nil? -%>
						<tr><td>Within the state:</td><td><%= select_tag "state", '<option></option>' + options_for_select(Location::STATES, params[:state]) %></td></tr>
					<%- end -%>
					<tr><td>Within <%= select_tag 'within', options_for_select([['',''], ['1 mile', 1], ['5 miles', 5], ['10 miles', 10], ['20 miles', 20]], params[:within].to_i)%>
					of</td><td><%= text_field_tag 'origin', params[:origin] %> (zipcode)</td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<th>Organizational Details</th>
				<td>
					<table cellspacing="0" cellpadding="0" class="inner">
						<tr><td>Organization Type:</td><td><%= select_tag 'org_type_id', '<option></option>' + options_from_collection_for_select(OrgType.get_available, 'id', 'name', params[:org_type_id].to_i) %></td></tr>
						<tr><td>Business Sector:</td><td><%= select_tag 'sector_id', '<option></option>' + options_from_collection_for_select(Sector.get_available, 'id', 'name', params[:sector_id].to_i) %></td></tr>
					</table>
				</td>
			</tr>
			<tr><th><label for="q">Keyword search</label></th>
				<td><%= text_field_tag 'q', @query, :size => 60 %>
					<br/><span class="note">searches Organization's name, description and products/services</span>
				</td>
			</tr>
			<tr><th>Data Verification</th>
				<td><%= check_box_tag 'verified', 1, params[:verified] %>
					<label for='verified'>Verified entries only</label>
				</td>
			</tr>
		</table>
		<%= submit_tag 'Search' %>
	<% end %>
	<br/>
	<br/>
</div>
