<h1>Listing Business Sectors</h1>

<table>
	<thead>
		<tr>
			<th>Business Sector Name</th>
		</tr>
	</thead>
	<tbody>
		<% for sector in @sectors %>
			<tr>
				<td><%=sector.name%></td>
			    <td><%= link_to 'Show', sector %></td>
			    <td><%= link_to 'Edit', edit_sector_path(sector) %></td>
			    <td><%= link_to 'Destroy', sector, :confirm => 'Are you sure?', :method => :delete %></td>
  			</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New sector', new_sector_path %>
