<script language="JavaScript">
	function showLinkingButton(buttonname) {
		var button = document.getElementById(buttonname);
		button.value = 'Adding...'; 
		button.disabled = true;
	}
	function resetLinkButton(buttonname) {
		var button = document.getElementById(buttonname);
		button.value = 'Add'; 
		button.disabled = false;
	}
	function hideLinkButton(buttonname) {
		var button = document.getElementById(buttonname);
		button.style.visibility = "hidden";
		button.style.display = "none";
	}
	function showLinkMessage(target,message) {
		document.getElementById(target).innerHTML = message;
	}
</script> 

<h1>Data Import Results</h1>

Data imported using the <b><%= params[:plugin_name] %></b> plugin.

<div id="ajax_result"></div>

<%- if(@matches.any?) -%>
	<h2>Matches</h2>
	<ul>
	  <%- @matches.each_with_index do |m,index| -%>
	  <%- button_name = "linker_#{index}_button" -%>
	  <%- msg_name = "linker_#{index}_msg" -%>
	  <li>"<%= m[:local]['name'].to_s %>" <%- if m[:status][:weak] -%>weakly<%- end -%>
 matched <%= link_to m[:remote].name.to_s, m[:remote].link_hash %>
	    <%- if m[:status][:linked] -%>
	    (already in pool)
	    <%- else -%>
	    <br />
	    <%= m[:local]['summary_text'] %> <b>(import)</b><br />
	    <%= m[:remote].summary_text %> <b>(find.coop)</b><br />
	        <% form_remote_tag :url => {:action => 'link_taggable'}, 
		:loading => %(showLinkingButton('#{button_name}')),
		:failure => %(resetLinkButton('#{button_name}'); showLinkMessage('#{msg_name}','Link failed')),
		:success => %(hideLinkButton('#{button_name}'); showLinkMessage('#{msg_name}','Done!')) do %>
		<%= hidden_field_tag 'taggable_id', m[:remote].id %>
		<%= hidden_field_tag 'taggable_type', m[:remote].class.to_s %>
		<%= hidden_field_tag 'data_sharing_org_id', @dso.id %>
		<%= submit_tag 'Add ' + m[:remote].name.to_s, :id => button_name %>
		<% end %>
		<div id='<%= msg_name %>'></div>

  	     <%- end -%>
	  </li>
	  <%- end -%>	  
	</ul>
<%- end -%>

<%- if(@newbies.any?) -%>
	<h2>The great unmatched</h2>
	<ul>
	  <%- @newbies.each_with_index do |n,index| -%>
	  <li>
	    <%- button_name = "maker_#{index}_button" -%>
	    <%- msg_name = "maker_#{index}_msg" -%>
	    <b><%= n['name'] %></b> <%= n['location_stub'].inspect %> <%= n['stub'].inspect %>
	        <% form_remote_tag :url => {:action => 'add_org'}, 
		:loading => %(showLinkingButton('#{button_name}')),
		:update => "#{msg_name}_2",
		:failure => %(resetLinkButton('#{button_name}'); showLinkMessage('#{msg_name}','Add failed')),
		:success => %(hideLinkButton('#{button_name}'); showLinkMessage('#{msg_name}','Done!')) do %>
		<%= hidden_field_tag 'entry', n.to_hash.to_json.gsub(/\\u([0-9a-z]{4})/) {|s| [$1.to_i(16)].pack("U")} %>
		<%= hidden_field_tag 'plugin_name', @plugin_name %>
		<%= hidden_field_tag 'data_sharing_org_id', @dso.id %>
		<%= submit_tag 'Add ' + n['name'].to_s, :id => button_name %>
		<% end %>
		<div id='<%= msg_name %>'></div>
		<div id='<%= msg_name %>_2'></div>
	  </li>
	  <%- end -%>
	</ul>
<%- end -%>

<%- if(@multies.any?) -%>
	<h2>Those that match too much</h2>
	<ul>
	  <%- @multies.each_with_index do |n,index| -%>
	  <li><%=n['name']%></li>
	  <%- end -%>
	</ul>
<%- end -%>

<%- if(@stats.any?) -%>
	<h2>Statistics</h2>
	<ul>
	<%- @stats.each do |k,v| -%>
		<li><%= k.to_s.gsub('_', ' ').capitalize %>: <%= v %></li>
	<%- end -%>
	</ul>
<%- end -%>

<%- if(@errors.any?) -%>
	<h2>Errors</h2>
	<ul>
	<%- @errors.each do |err| -%>
		<li><%= err %></li>
	<%- end -%>
	</ul>
<%- end -%>

<%= link_to 'Back to DSO page', data_sharing_org_path(@dso) %>
