<h1>New data sharing organization</h1>

<% form_for(@data_sharing_org) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', data_sharing_orgs_path %>
