<h1>Editing Organization Type</h1>

<% form_for(@org_type) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'form' %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @org_type %> |
<%= link_to 'List Org Types', org_types_path %>
